<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
{% load staticfiles %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>AoR map test</title>
    <link rel="stylesheet" href="{% static 'ui/map.css' %}" type="text/css" charset="utf-8">
</head>
<body>
    {{ request.path }}
    <!--<input type='hidden' id='map_url' value='/aor/static/ui/map.json'/>-->
    <input type='hidden' id='map_url' value='http://iizs.net/aor/api/v1/rule/getMap/?edition=european'/>
    <input type='hidden' id='skin_url' value="http://iizs.net/aor/static/ui/skins/european/default.json"/>
    <!--<input type='hidden' id='skin_url' value="{% static 'ui/skins/european/default.json' %}"/>-->
    <div id="cy" ></div>
    <div id="json" ></div>
    <script src="{% static 'ui/jquery-1.6.1.min.js' %}"></script>
    <script src="{% static 'ui/cytoscape.js' %}"></script>
    <script src="{% static 'ui/map.js' %}"></script>
</body>
</html>
